.hero div{
    background-image: url(../../assets/background.jpeg);
    width: 100%;
    height: 100%;
}

.hero img {
    width: 50%;
    height: 50%;
}

.hero {
    width: 100%;
    margin: 25%;
    background-color: white;
}
