.footer {
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
}

.footer div {
    display: inline-block;
    padding-top: 30px;
    height: auto;
    width: 30%;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top; 
}

.footer p {
    font-family: Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 14px;
    margin: 0;
}

.footer h4 {
    font-size: 18px;
    margin-top: 0;
}

.footer #footer-info,
.footer #footer-iletisim,
.footer #footer-calisma {
    width: 100%; 
    height: auto; 
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .footer div {
        width: 100%;
    }
}
