.footer {
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
}

.footer div {
    display: inline-block;
    padding-top: 30px;
    height: 180px;
    width: 30%;
    text-align: center;
    box-sizing: border-box;
}

.footer p {
    font-family: Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 14px;
}

.footer h4 {
    font-size: 18px;
}
.footer #footer-info {
    float: left;
    width: 25%;
    height: 200px;
    background-color: black;
}

.footer #footer-iletisim {
    float: left;
    width: 50%;
    height: 200px;
    background-color: black;
}

.footer #footer-calisma {
    float: right;
    width: 25%;
    height: 200px;
    background-color: black;
}

@media screen and (max-width: 768px) {
    .footer div {
        width: 100%;
    }
}
