.ürünler {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  justify-items: center;
}

.ürün {
  border-radius: 15px;
  max-width: 300px; 
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.ürün img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.ürün:hover {
  transform: translateY(-5px);
}

@media (max-width: 1024px) {
  .ürünler {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .ürünler {
    grid-template-columns: repeat(1, 1fr);
  }
}