* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Serif 4", serif;
}

body {
  margin: 0;
  padding: 0;
}

main{
  margin: 120px;
}

h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
}

.wp-img {
  width: 90%;
  height: auto;
  padding-left: 16%;
  padding-right: 10%;
}

p {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 15px;
  margin: 0;
  }

button {
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  transition-duration: 0.4s;
}